@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  /* ACCEUIL */
  #infos {
      height: 400px;
      padding-left: 15%;
  }

  #infos h1 {
    font-size: 2em;
  }

  #infos p {
    font-size: 0.9em;
  }
  #button-info p {
    font-size: 1.2em;
    margin-top: 13px;
  }

  #button-info {
    height: 50px;
  }
  /* NOS PROJETS*/
  #link-project .list {
    padding: 5px 25px 5px 25px;
  }
}

@media screen and (max-width:800px) {
  /* HEADER BLUE LINE */
  #nav-bar a:hover {
    border-bottom: 4px solid #5cadd3
  }

  /* MAP */
  iframe {
    visibility: hidden;
  }
}

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
/* HEADER */
  #header {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    height: 60px;
  }
  #logo {
    margin-top: -12px;
  }
  #nav-bar {
    align-items: center;
  }
  #nav-bar li {
    margin-left: 10px;
    font-size: 1em;
  }
  #nav-bar a {
    padding: 45px 10px 0 10px;
  }
  #nav-bar a:hover {
    border-top: 5px solid #5cadd3;
  }
  /* PORTFOLIO POSITION IMAGE */
  #folio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30px;
  }
    .folio-img {
    margin: 20px 10px 0 10px;
  }
  /*FOOTER*/
  #in-form
  {
    position: absolute;
    right: 10%;
    background: blue;
    padding: 15px;
    margin-bottom: 10px;
  }
  #txt-form {}


  .item-form {
    margin: 10px 80px 10px 80px;
    width: 90%;
    height: 10px;
  }


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  /* ACCEUIL */
  #infos {
      height: 600px;
  }
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
  /* SERVICES */
  #main-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -100px 50px 0 50;
  }

  #main-feature img {
    width: 50%;
    height: 50%;
  }
  #icons {
    padding-bottom: 120px;
  }
  #icons p {
    margin-bottom: -30px;
  }
}
